.filter-date-range {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .filter-date-range .form-control {
    flex: 1;
  }
  
  .filter-date-range .btn {
    flex: none;
  }
  